.root {
  display: flex;
  justify-content: center;
  background-color: #3a2523;
  min-height: 100vh;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;

    .outlet {
      width: 95%;
    }
  }
}
