.root {
  .container {
    display: flex;
    justify-content: space-between;

    .details {
      display: flex;
      flex-direction: column;
      gap: 30px;
      input {
        padding: 5px 5px 5px 10px;
        outline: none;
        border: none;
        border-radius: 5px;
        width: 250px;
        height: 40px;
        background-color: #241615;
        color: white;
      }
      .education {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .add {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #8e8e8e;
          background-color: #241615;
          padding: 5px 10px 5px 10px;
          border-radius: 5px;
          width: 250px;
          height: 40px;
          cursor: pointer;
          transition: 0.15s ease-in-out;

          &:hover {
            background-color: #241615c5;
          }
          span {
            font-weight: 300;
            font-size: 13px;
          }
        }
      }
    }
  }
}
