.root {
	.container {
		display: flex;
		justify-content: space-between;

		.details {
			display: flex;
			flex-direction: column;
			gap: 30px;
			input {
				padding: 5px 5px 5px 10px;
				outline: none;
				border: none;
				border-radius: 5px;
				width: 250px;
				height: 40px;
				background-color: #241615;
				color: white;
			}
			.education {
				display: flex;
				flex-direction: column;
				gap: 20px;
				width: 250px;
				div {
					display: flex;
					flex-direction: row;
					gap: 10px;
					.add {
						display: flex;
						justify-content: space-between;
						align-items: center;
						color: #8e8e8e;
						background-color: #241615;
						padding: 5px 10px 5px 10px;
						border-radius: 5px;
						width: 250px;
						height: 40px;
						cursor: pointer;
						transition: 0.15s ease-in-out;

						&:hover {
							background-color: #241615c5;
						}
						span {
							font-weight: 300;
							font-size: 13px;
						}
					}
					button {
						cursor: pointer;
						background-color: #3a2523;
						color: white;
						border: none;
					}
				}

				.inputs {
					display: flex;
					flex-wrap: wrap;
					gap: 20px;
					margin-left: 10px;
					input::-webkit-outer-spin-button,
					input::-webkit-inner-spin-button {
						-webkit-appearance: none;
						margin: 0;
					}
					input {
						width: 100px;
					}
				}
			}
		}
	}
}
