.root {
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .logo {
      display: flex;
      justify-content: center;
      svg {
        border-radius: 15px;
        width: 50px;
        height: 50px;
      }
    }
    .card {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: #241615;
      border-radius: 15px;
      padding: 40px 20px 40px 20px;

      .heading {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
        h2 {
          font-weight: 800;
          color: #fff;
        }
        span {
          color: rgba(255, 255, 255, 0.535);
        }
      }
      .form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
        margin-top: 40px;
        form {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 20px;

          .fullName {
            display: flex;
            gap: 20px;
          }
          .input {
            display: flex;
            align-items: center;
            width: 100%;
            height: 50px;
            border: 1px solid rgba(128, 128, 128, 0.453);
            border-radius: 5px;
            gap: 15px;

            svg {
              color: #eaa242;
              margin-left: 15px;
            }
            input {
              width: 100%;
              height: 100%;
              color: white;
              background-color: inherit;
              outline: none;
              border: none;
              font-size: 15px;

              &::placeholder {
                color: rgba(255, 255, 255, 0.535);
              }
            }
          }
          button {
            height: 50px;
            border: none;
            border-radius: 7px;
            background-color: #eaa242;
            color: white;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
              background-color: #eaa142d9;
            }
          }
        }
      }
    }
  }
}
